// Add some modules
@require './modules/colors.styl'

*
  box-sizing border-box
html
  font-size 18px
body
  background-color #fff
  font-family Helvetica, sans-serif
  font-size 62.5%
  margin 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

main
  width 740px
  margin 0 auto
.content
  font-size 16px
  a
    color $hotPink
.section-title
  font-weight bold
.sections-container,
.section
  margin 5px 0
